.hero {
    display: flex;
    align-items: center;
}

span {
    font-family: $baseFont;
    font-weight: $semiBoldFont;
    font-size: 20px;
    color: $subHeadingsTextColor;
    line-height: 27px;
    text-transform: uppercase;
}

.content {

    p {
        line-height: 30px;
        color: $subHeadingsTextColor;
        font-weight: $regularFont;
        margin-bottom: 36px;
        margin-right: 44px;
    }

    h1 {
        margin-bottom: 23px;
    }
}