$baseFont: 'Open Sans', sans-serif;
$secondFont: 'Poppins', sans-serif;
$emailFont: 'Raleway', sans-serif;
$regularFont: 400;
$mediumFont: 500;
$semiBoldFont: 600;
$boldFont: 700;
$headingsTextColor: #212121;
$subHeadingsTextColor: #646464;
$eunryColor: #CAA892;
$viridianColor: #37806B;
$eunryBorderColor: #B0855B;
$lightGreyBg: #E0E0E0;
$greyBorder: #C4C4C4;
$emailBg: #EEEEEE;
$footerBg: #F8F8F8;
$socialsBg: #D5D5D5;
$whiteText: #ffffff;
